# Ignore the HTML Essential Training Exercise Files directory
Linkedin-SoftwareDevelopmentFundamentals/notes/HTML Essential Training Exercise Files
# Ignore the learningCSharp directory
Linkedin-SoftwareDevelopmentFundamentals/notes/LearningCSharp
# Ignore the MSSA-prep.sIn file
MSSA-prep.sln